body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: flex-start;
}

.wrap {
    width: 393px;
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;
}

.header {
    font-family: "NPS font-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    padding: 20px 0px 20px 0px;
}

.ch_name, .ch_cn, .ch_detail {
    margin-left: 10px;
    font-family: "SUIT-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.ch_name_input textarea, .ch_cn_input textarea {
    margin-bottom: 20px;
    width: 353px;
    height: 55px;
    border-radius: 10px;
    border: 1.5px solid;
    border-color: #9e9e9e;
    box-sizing: border-box;
    padding: 10px;
    font-family: "SUIT-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    resize: none;
}

#name.active, #creater_name.active, #challenge_detail.active {
    border-color: #2cd7a6;
}

.ch_detail_input textarea {
    margin-bottom: 20px;
    width: 353px;
    height: 194px;
    border-radius: 10px;
    border: 1.5px solid;
    border-color: #9e9e9e;
    box-sizing: border-box;
    padding: 10px;
    font-family: "SUIT-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    resize: none;
}

#add_group:disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 353px;
    height: 55px;
    background-color: #9e9e9e !important;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-family: "SUIT-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

#add_group.enabled {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 353px;
    height: 55px;
    background: linear-gradient(
        180deg,
        rgba(44, 215, 166, 1) 0%,
        rgba(89, 211, 133, 1) 100%
    );
    border-radius: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.ch_add_group {
    font-family: "SUIT-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}
