@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #000;
    margin-top: 0;

}

#Login_wrap{
    width: 393px;
    height: 852px;
    background-color: #fff;
    border: solid 1px #000;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

.logo{
    margin-top: 155px;
}

.input{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input>input{
    width: 353px;
    height: 55px;
    border: solid 1.5px #9E9E9E;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    font-size: 20px;
}

input::placeholder{
    font-family: 'SUIT-Regular';
}

input:focus{
    border: solid 1.5px #2CD7A6;
    outline: none;
}

.login_btn{
    margin-top: 100px;
    width: 353px;
    height: 55px;
    background-color: #9E9E9E;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

/* 로그인 에러시 */

.error{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 15px 20px;
    display:none;
    top: 550px;
}

.error_msg{
    text-align: left;
    color: #FD7565;
    font-family: 'SUIT-Regular';
    font-size: 15px;
    font-weight:bolder;
}
