/*------------------ 1.header-nav-----------------*/
.header-nav {
    position: relative;
    flex-direction: row;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    padding: 8px 20px 10px 20px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    z-index: 1001;
}

.header-nav button {
    border: none;
    background: transparent;
}
img.logo-img{
 width: 155px!important;
 height: auto!important;
}

.header-nav img {
    width: 47px;
    height: 40px;
    position: relative;
}

img.user-img {
    width: 30px;
    height: 30px;
    top:2px;
}

/*------------------ 2.bottom-nav------------------*/
.bottom-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* #root와 동일한 크기 */
    height: 70px;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    padding: 15px 34px 11px 34px;
}

.nav-item {
    background: none;
    border: none;
    padding: 0;
    width: auto;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icon {
    position: relative;
    height: auto;
}

.home-button {
    width: 23px;
}

.quiz-button,
.challenge-button {
    width: 27px;
}

.map-button {
    width: 22px;
}