{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-393, initial-scale=0.9" />
    <title>challenge_add</title>
    <link rel="stylesheet" href="{% static 'css/ch_add.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
  </head>
  <body>
    <div class="wrap">
      <div class="challenge-container">
        {% include "navbar.html" %}
        <div class="header">
          <span>챌린지 그룹 추가</span>
        </div>

        <form method="post">
          {% csrf_token %}
          <div class="add_name">
            <span class="ch_name">챌린지명</span>
            <div class="ch_name_input">
              <textarea id="name" name="name"></textarea>
            </div>
          </div>

          {% comment %}
          <div class="add_cn">
            <span class="ch_cn">관리자</span>
            <div class="ch_cn_input">
              <textarea id="creater_name" name="creater_name"></textarea>
            </div>
          </div>
          {% endcomment %}

          <div class="add_detail">
            <span class="ch_detail">상세 설명</span>
            <div class="ch_detail_input">
              <textarea id="challenge_detail" name="description"></textarea>
            </div>
          </div>

          <button type="submit" id="add_group" disabled>
            <span class="ch_add_group">그룹 추가</span>
          </button>
        </form>
      </div>
    </div>

    <script type="module" src="{% static 'js/ch_add.js' %}"></script>
  </body>
</html>
