<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>challenge_add</title>
    <link rel="stylesheet" href="../static/css/ch_add.css" />
</head>
<body>
    <div class="wrap">
        <div class="header">
            <span>챌린지 그룹 추가</span>
        </div>

        <div class="add_name">
            <span class="ch_name">챌린지명</span>
            <div class="ch_name_input">
                <textarea id="name"></textarea>
            </div>
        </div>

        <div class="add_cn">
            <span class="ch_cn">관리자</span>
            <div class="ch_cn_input">
                <textarea id="creater_name"></textarea>
            </div>
        </div>

        <div class="add_detail">
            <span class="ch_detail">상세 설명</span>
            <div class="ch_detail_input">
                <textarea id="challenge_detail"></textarea>
            </div>
        </div>

        <button id="add_group" disabled><span class="ch_add_group">그룹 추가</span></button>
    </div>

    <script src="../static/js/ch_add.js"></script>
</body>
</html>