{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-393, initial-scale=0.9" />
    <title>challenge_group</title>
    <link rel="stylesheet" href="{% static 'css/ch_group.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body>
  <div id="root">
    <div class="wrap">
      <div class="challenge-container">
        {% include "navbar.html" %}
        <div class="ch-header">
            <span class="ch">챌린지</span>
            <div class="ch-button">
                <button class="btn-group" onclick="location.href='{% url 'challenges:challenge_list_popular' %}'">그룹</button>
                <button class="btn-my" onclick="location.href='{% url 'challenges:challenge_list_my' %}'">MY</button>
            </div>
        </div>

        <div class="ch-order">
            <span id="card-count">그룹 {{ popular_challenges|length }}개</span>
            <div class="ch-odr">인기순</div>
        </div>
    
        <div id="popular_challenges">
            {% for challenge in popular_challenges %}
            {% if challenge.id %}

            <div class="card" data-id="{{ challenge.id }}">
                <div class="card-top">
                    <h3 class="card-title">{{ challenge.name }}</h3>
                    <div class="pn">
                        <div><img class="img1" src="{% static 'images/challenges/img1.svg' %}" /></div>
                        <div class="card-pn">{{ challenge.participant_num }}</div>
                    </div>
                </div>
                <div class="cn">
                    <div><img class="img2" src="{% static 'images/challenges/img2.svg' %}" /></div>
                    <p class="card-cn">{{ challenge.creator_name }}</p>
                </div>
            </div>

            {% endif %} {% endfor %}

        </div>

        <button class="btn_add" onclick="location.href='{% url 'challenges:create_challenge' %}'">
            <img src="{% static 'images/challenges/img3.svg' %}" class="img3" />
            <img src="{% static 'images/challenges/img4.svg' %}" class="img4" />
        </button>

        <script type="module" src="{% static 'js/ch_group.js' %}"></script>
    </div>
  </div>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="ko">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-393, initial-scale=0.9" />
    <title>challenge_group</title>
    <link rel="stylesheet" href="/2025-herethon-2/univerth/static/css/ch_group.css" />
    <link rel="stylesheet" href="/2025-herethon-2/univerth/static/css/navbar.css" />
    <link rel="stylesheet" href="/2025-herethon-2/univerth/static/css/main.css" />
</head>
<body>
  <div id="root">
    <div class="wrap">
      <div class="challenge-container">
         <header class="header-nav">
            <button class="nav-item" data-url="/home">
            <img
                class="logo-img"
                src="/2025-herethon-2/univerth/static/images/navbar/nav_logo.svg"
                alt="로고 이미지"
            />
            </button>
            <button class="nav-item" data-url="/mypage">
            <img
                class="user-img"
                src="/2025-herethon-2/univerth/static/images/navbar/user-account-basic.svg"
                alt="계정 이미지"
            />
            </button>
        </header>

       


        <div class="ch-header">
            <span class="ch">챌린지</span>
            <div class="ch-button">
                <button class="btn-group" onclick="location.href='/challenges/popular/'">그룹</button>
                <button class="btn-my" onclick="location.href='/challenges/my/'">MY</button>
            </div>
        </div>

        <div class="ch-order">
            <span id="card-count">그룹 0개</span>
            <div class="ch-odr">인기순</div>
        </div>
    
        <div id="popular_challenges">
            <div class="card" data-id="1">
                <div class="card-top">
                    <h3 class="card-title">챌린지명 예시</h3>
                    <div class="pn">
                        <div><img class="img1" src="/2025-herethon-2/univerth/static/images/challenges/img1.svg" /></div>
                        <div class="card-pn">10</div>
                    </div>
                </div>
                <div class="cn">
                    <div><img class="img2" src="/2025-herethon-2/univerth/static/images/challenges/img2.svg" /></div>
                    <p class="card-cn">관리자이름</p>
                </div>
            </div>

        </div>

        <button class="btn_add" onclick="location.href='/challenges/create/'">
            <img src="/2025-herethon-2/univerth/static/images/challenges/img3.svg" class="img3" />
            <img src="/2025-herethon-2/univerth/static/images/challenges/img4.svg" class="img4" />
        </button>



         <nav class="bottom-nav">
            <button class="nav-item" data-url="/home" type="button" id="nav-home">
                <img
                src="/2025-herethon-2/univerth/static/images/navbar/home_basic.png"
                alt="홈 버튼"
                class="nav-icon home-button"
                />
            </button>

            <button class="nav-item" data-url="/quiz" type="button" id="nav-quiz">
                <img
                src="/2025-herethon-2/univerth/static/images/navbar/quiz_basic.png"
                alt="퀴즈 버튼"
                class="nav-icon quiz-button"
                />
            </button>

            <button class="nav-item" data-url="/map" type="button" id="nav-map">
                <img
                src="/2025-herethon-2/univerth/static/images/navbar/map_basic.png"
                alt="지도 버튼"
                class="nav-icon map-button"
                />
            </button>

            <button
                class="nav-item"
                data-url="/challenges/popular"
                type="button"
                id="nav-challenge"
            >
                <img
                src="/2025-herethon-2/univerth/static/images/navbar/challenge_basic.png"
                alt="챌린지 버튼"
                class="nav-icon challenge-button"
                />
            </button>
        </nav>

        <script src="/2025-herethon-2/univerth/static/js/ch_group.js"></script>
    </div>
  </div>
</body>
</html> -->
