<header class="header-nav">
  <div>
    <img
              class="logo-img"
              src="/img/home/callendar-background.png"
              alt="로고 이미지"
            />
    <img
              class="user-img"
              src="/img/home/callendar-background.png"
              alt="계정 이미지"
            />
            </div>
</header>

<nav class="bottom-nav">
  <button class="nav-item" data-url="/home" type="button">
    <img
      src="../static/images/navbar/home_basic.png"
      alt="홈 버튼"
      class="nav-icon home-button"
    />
  </button>

  <button class="nav-item" data-url="/quiz" type="button">
    <img
      src="../static/images/navbar/quiz_basic.png"
      alt="퀴즈 버튼"
      class="nav-icon quiz-button"
    />
  </button>

  <button class="nav-item" data-url="/map" type="button">
    <img
      src="../static/images/navbar/map_basic.png"
      alt="지도 버튼"
      class="nav-icon map-button"
    />
  </button>

  <button class="nav-item" data-url="/challenge" type="button">
    <img
      src="../static/images/navbar/challenge_basic.png"
      alt="챌린지 버튼"
      class="nav-icon challenge-button"
    />
  </button>
</nav>
