<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>퀴즈</title>

    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/quiz.css" />
    <link rel="stylesheet" href="../static/css/navbar.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div id="root">
      <div class="app-wrapper">
        <div class="quiz-container">
          <header id="quiz-header">
            <div>
              <span class="quiz-title">오늘의 유니버스 퀴즈</span>
            </div>
            <div class="category-round">
              <p class="quiz-days-category">사회인식/트렌드</p>
            </div>
          </header>

          <div class="today-date">
            <p>7월 5일 토요일</p>
          </div>

          <div class="quiz-wrapper">
            <div class="question-content">
              <p>
                다음 중 실제로는 재활용이 어렵지만, 일반적으로 재활용이 가능하다고 오해받는 품목은?
              </p>
            </div>
          </div>

          <div class="answer-container">
            <div class="answers"></div>
            <!--답변들-->
          </div>

          <button class="submit-btn" data-url="/quiz" type="button">
            <img src="../static/images/quiz/submit-btn.png" alt="제출하기" />
          </button>
        </div>
      </div>
    </div>

    <script type="module" src="../static/js/quiz.js"></script>
  </body>
</html>
